
body{
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
table {
	border:1px solid #CDCDCD; 
	border-collapse:collapse;


}

tr {
	border:0.5px solid #CDCDCD;
	border-collapse:collapse;

}

td{
	border:0.5px solid #CDCDCD;
	border-collapse:collapse;
	padding: 30px;
}

img{
	height:500px;
	width:300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#box{
	width: 50%;
}

#header{
	font-size: 400%;
	padding: 50px;
	text-align: center;
}